# Gradle
.gradle/
build/
app/build/

# Local config
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Keystore (JANGAN pernah commit file keystore asli)
*.jks
*.keystore
release.keystore.jks

# Logs
*.log
